@model Diary.WEB.ViewModels.Common.IndexViewModel

<link href="~/css/search.css" rel="stylesheet" type="text/css" />
<div class="search">
	<form asp-controller="Home" asp-action="Index">
		<p>
			<input asp-for="SearchModel.SearchString" type="text" name="searchString" placeholder="Пошук" autocomplete="off"/>
			<input type="submit" value="Шукати" />
		</p>
		<p class="">
			від <input asp-for="SearchModel.StartDate" type="date" name="startDate" />
		</p>
		<p class="endDate">
			до <input asp-for="SearchModel.EndDate" type="date" name="endDate" />
		</p>
	</form>
</div>

<div>
	@foreach (var record in Model.Records)
	{
		<div class="record">
			<div class="nameRecord">
				<b>@record.Name</b>
			</div>

			<div class="textRecord">
				<span>@record.Text</span>
			</div>

			<div class="ded-inherit">
				<div class="view-record">
					<a asp-controller="Record" asp-action="ViewRecord" asp-route-id="@record.Id">Переглянути</a>
				</div>

				<div class="edit-record">
					<a asp-controller="Record" asp-action="EditRecord" asp-route-id="@record.Id">Редагувати</a>
				</div>

				<div class="delete-record">
					<a asp-controller="Record" asp-action="" asp-route-id="@record.Id">Видалити</a>
				</div>
			</div>

			<hr />

			<div class="date">
				<p>
					<h6>Дата останнього редагування: @record.ModifiedDate</h6>
				</p>

				<p class="date-cteation">
					<h6>Створено: @record.DateCreation</h6>
				</p>
			</div>
		</div>
	}

</div>
<div>
	@{
		var prevDisabled = !Model.PagingViewModel.HasPreviousPage ? "disabled" : "";
		var nextDisabled = !Model.PagingViewModel.HasNextPage ? "disabled" : "";
	}

	<a asp-action="Index" asp-route-page="@(Model.PagingViewModel.PageNumber - 1)" class="btn btn-default @prevDisabled">Назад</a>
	<a asp-action="Index" asp-route-page="@(Model.PagingViewModel.PageNumber + 1)" class="btn btn-default @nextDisabled">Вперед</a>
</div>
