@model Diary.WEB.ViewModels.Record.RecordViewModel

<link href="~/css/editRecord.css" rel="stylesheet" type="text/css" />
<link href="~/css/downloadElement.css" rel="stylesheet" type="text/css" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<form asp-action="EditRecord" asp-controller="Record" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">

	<div class="record-form">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<input type="hidden" asp-for="UserId" />

		<div>
			<span>Назва</span>
			<b>
				<input type="text" asp-for="Name" />
			</b>

		</div>

		<div>
			<span>Примітки</span>
			<textarea type="text" asp-for="Text"></textarea>
		</div>

		<div class="dataBox">
			<p>Дата останього редагування: @Model.DateCreation</p>

			<p>Створено: @Model.DateCreation</p>
		</div>

		<div class="selected-files">
			<input class="chooseFile" type="file" asp-for="UploadedFiles" multiple />
		</div>

		<div class="elements">
			@if (Model.UploadedFileViewModels.Any())
			{
				@foreach (var item in Model.UploadedFileViewModels)
				{
					@if (item.IsImage == true)
					{
						<p>
							@*<img src="~/image/@item.Name" alt="Упс, щось пішло не так(((" /><img />*@
							<a asp-action="Download" asp-controller="Record" asp-route-fileName="@item.Name">
								<img class="download-icon" src="~/download1_78499.png" />
							</a>
							<b>@item.Name</b>
						</p>
					}
					else
					{
						<p>
							<a asp-action="Download" asp-controller="Record" asp-route-fileName="@item.Name">
								<img class="download-icon" src="~/download1_78499.png" />
							</a>
							<b>@item.Name</b>
						</p>
					}
				}
			}
		</div>
		
		<div class="comeBack">
			<a asp-action="Index" asp-controller="Home">На головну</a>
		</div>

		<input type="submit" value="Зберегти" />
	</div>
</form>
